<h1>Hello!</h1>


<h2>Workouts</h2>
{{#each workouts}}
    <h3>
        <a href="/workout/{{_id}}">{{name}}</a>
    </h3>
    date: {{date}}<br>
    complete: {{complete}}<br>
    exercises:
    {{#each exercises}}
        name: {{name}}<br>
        type: {{type}}<br>
        weight: {{weight}}<br>
        sets: {{sets}}<br>
        reps: {{reps}}<br>
        duration: {{duration}}<br>
    {{/each}}
    <hr>
{{/each}}



<h2>Exercises</h2>
<hr>

{{#each exercises}}
    <a href="/exercise/{{_id}}">
        <h3>{{name}}</h3>
    </a>
    <p>
        <strong>type: </strong>{{type}}
    </p>
    <p>        
        <strong>weight: </strong>{{weight}}
    </p>    
    <p>        
        <strong>sets: </strong>{{sets}}
    </p>    
    <p>        
        <strong>reps: </strong>{{reps}}
    </p>    
    <p>        
        <strong>duration: </strong>{{duration}}
    </p>
    <hr>
{{/each}}

