<h1>Hello!</h1>

{{#each exercises}}
    name: {{name}}<br>
    type: {{type}}<br>
    weight: {{weight}}<br>
    sets: {{sets}}<br>
    reps: {{reps}}<br>
    duration: {{duration}}<br>
    <hr>
{{/each}}

