<p>
    id: 
    <span>
        {{id}}
    </span>
</p>
<p>
    name: 
    <span>
        {{name}}
    </span>
    <span>
        <input type="text" name="name">
    </span>   
</p>
<p>
    <span>
        type: 
    </span>
    <span>
        {{type}}
    </span>        
    <span>
        <input type="text" name="type">
    </span>
</p>
<p>
    <span>
        weight: 
    </span>
    <span>
        {{weight}}
    </span>        
    <span>
        <input type="number" name="weight">
    </span>
</p>
<p>
    <span>
        sets: 
    </span>
    <span>
        {{sets}}
    </span>        
    <span>
        <input type="number" name="sets">
    </span>
</p>
<p>
    <span>
        reps: 
    </span>
    <span>
        {{reps}}
    </span>        
    <span>
        <input type="number" name="reps">
    </span>
</p>
<p>
    <span>
        duration: 
    </span>
    <span>
        {{duration}}
    </span>        
    <span>
        <input type="number" name="duration">
    </span>
</p>